
/*------------------------------  GOOGLE FONTS  ------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=PT+Sans+Narrow&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap');



/*------------------------------  VARIABLES CSS ------------------------------*/
:root {
    --header-height: 3.5rem;

    /* Colots */
    /* Color mode HSL(hue, saturation, Lightness) */
    /* 
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        TeaL: hsl(174, 63%, 62%)
    */
    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;

    /* --first-color: hsl(var(--first-hue), var(--sat), var(--lig)); */
    --first-color: rgb(0, 255, 255);
    --first-color-alt:  rgba(0, 255, 255, 71%); /* -4% */
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);

    /* Font and typography */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /* Font weight */
    --font-medium: 500;
    --font-semibold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*------------------------------  Responsive Typography  ------------------------------*/
@media (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*------------------------------ BASE  ------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /* For light more animation*/
}

h1,h2,h3{
    color: var(--title-color);
    font-size: var(--font-semibold);
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*------------------------------ Theme ------------------------------*/
.change-theme{
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    color: var(--first-color);
}

/*------------------------------  Variables Light theme  ------------------------------*/
body.light-theme{
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    --body-color: hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;
}

/* 
    Color changes in some parts of
    the websites, in light theme
*/
.light-theme .header{
    border-bottom: 2px solid #0141ff;
}

.light-theme .scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 1%, .4);
}

.light-theme .nav__menu{
    background-color: hsla(var(--second-hue), 32%, 90%, .8);
}

.light-theme .section__subtitle{
    color: var(--text-color);
}

.light-theme .section__title{
    color: #0141ff;
}

.light-theme .home__social-link{
    box-shadow: 0 8px 8px hsla(var(--second-hue), 48%, 18%, .4);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .nav__logo,
.light-theme .change-theme,
.light-theme .about__icon,
.light-theme .skills__title,
.light-theme .services__button,
.light-theme .services__modal-title,
.light-theme .contact__button,
.light-theme .work__button{
    color: #0141ff;
}

.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__social-link,
.light-theme .footer__copy{
    color: #000000;
}

.light-theme .nav__menu{
    border: 2px solid #0141ff;
    box-shadow: 0px 8px 8px 8px hsla(var(--second-hue), 48%, 8%, .4);
}

.light-theme .active-link{
    background: linear-gradient(180deg,
                #0141ff,
                rgba(0, 255, 255, .2)
                );
    box-shadow: 0px 4px 5px 4px hsla(var(--second-hue), 48%, 8%, .4);
    color: #ffffff;
    
}

.light-theme .footer__social-link{
    background-color: #0141ff;
    color: #fff
}

.light-theme .active-work{
    box-shadow: 0 8px 8px hsla(var(--second-hue), 48%, 18%, .4);
    border: 2px solid #0141ff;
}

.light-theme .home__img{
    border: 2px solid #0141ff;
    box-shadow: 0px 4px 4px 4px hsla(var(--second-hue), 48%, 8%, .4);

}

.light-theme .home__social::after{
    background-color: var(--title-color);
}

.light-theme .home__social::before{
    background-color: var(--title-color);
}

.light-theme .about__box{
    box-shadow: 0 12px 12px hsla(var(--second-hue), 48%, 8%, .4);
}

.light-theme .about__img{
    box-shadow: 0 6px 6px 6px hsla(var(--second-hue), 48%, 8%, .4);
}

.light-theme .skills__content{
    box-shadow: 0px 6px 10px 6px hsla(var(--second-hue), 48%, 8%, .4);
    border: 3px solid #0dff00;
}

.light-theme .services__card,
.light-theme .work__card,
.light-theme .contact__card{
    box-shadow: 0px 6px 8px 6px hsla(var(--second-hue), 48%, 8%, .4);
    border: 2px solid #0141ff;
}

.light-theme .testimonial__card{
    box-shadow: 0px 6px 4px 6px hsla(var(--second-hue), 48%, 8%, .3);
    border: 2px solid #0141ff;
}

.testimonial__container{
    padding: 4rem;
}

.light-theme .contact__form-input{
    box-shadow: 0px 6px 8px 6px hsla(var(--second-hue), 48%, 8%, .4);
    border: 2px solid #0141ff;
}

.light-theme .contact__form-tag{
    border: 1px solid #0141ff;
    border-radius: .5rem;
    background-color: rgb(0, 255, 255);
    color: #000000;
    box-shadow: 0px 2px 2px 2px hsla(var(--second-hue), 48%, 8%, .2);
}

.light-theme::-webkit-scrollbar{
    border: 2px solid #000000;
}

.light-theme::-webkit-scrollbar-thumb{
    border: 2px solid #000000;
}

.light-theme .button{
    border: 2px solid #0141ff;
    box-shadow: 0 0 14px  ;
}

.light-theme .Conbutton{
    background-color: #0141ff;
    color: #fff;
    box-shadow: #01b7ff;
}

.light-theme .button--ghost:hover{
    background-color: #0141ff;
    color: var(--first-color);
    border: 2px solid #0141ff;
}

.light-theme .button1:hover{
    background-color: #0141ff;
    color: var(--first-color);
    border: 2px solid #0141ff;
}
/*------------------------------  Reusable CSS classes ------------------------------*/
.container{
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: 1.8rem;
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*------------------------------ Header & Nav ------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    border-bottom: 2px solid rgb(0, 255, 255);
    box-shadow: 0 0px 16px 4px rgb(0, 255, 255);
    transition: .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* visibility: hidden; */
}

.nav__logo{
    color: rgb(0, 255, 255);
    font-weight: var(--font-medium);
    transition: .4s;
    margin-left: 2rem;
}

.nav__logo:hover{
    color: #ffaa3a;
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    box-shadow:  0 0 12px 5px rgba(0, 255, 255, .5);
    transition: .4s;
    justify-content: center;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

/* Active Link */
.active-link{
    background: linear-gradient(180deg,
                rgb(0, 255, 255, .8),
                rgba(0, 255, 255, .2)
                );
    box-shadow: 0 0 12px 4px rgba(0, 255, 255, .5);
    color: var(--title-color);
}



/* Change background header */
.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*------------------------------  HOME  ------------------------------*/
.home__container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home__data{
    text-align: center;
}

.home__greeting,
.home__education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home__greeting{
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.home__education{
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.home__name{
    font-size: var(--biggest-font-size);
}

.home__img{
    width: 180px;
    height: 380px;
    border-radius: 5rem;
    border:solid 3px #01b7ff
}

.home__handle{
    justify-self: center;
    width: 200px;
    height: 300px;
    /* background: linear-gradient(180deg, 
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2)
                ); */
    /* border-radius: 10rem 10rem 1rem 1rem; */
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    overflow: hidden;
    border:solid 3px #01b7ff

    
}

.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1.5rem;
}

.home__social,
.home__scroll{
    position: absolute;
}

.home__social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home__social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1.25rem;
    transition: .4s;
}

.home__social-link:hover{
    background-color: var(--first-color);
    color: black;
}

.home__social::before{
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--first-color);
    /* transform: rotate(90deg) translate(16px, 3px); */
}

.home__social::after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--first-color);
    /* transform: rotate(90deg) translate(16px, 3px); */
}

.home__scroll{
    color: var(--first-color);
    right: -1.5rem;
    bottom: 7rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}

.home__scroll-icon{
    font-size: 1.50rem;
}

.home__scroll-name{
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
}

/*------------------------------  Photo Animation  ------------------------------*/
.box{
    position: relative;
    /* width: 200px; */
    /* height: 450px; */
    width: 240px;
    height: 400px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(2, 15, 82); */
    background-color: var(--body-color);
    overflow: hidden;
    border-radius: 4rem;
}

.box img{
    position: relative;
    z-index: 10;
    border-radius: 4rem;
}

.box::before{
    content: '';
    position: absolute;
    height: 130%;
    width: 130px;
    background: linear-gradient(rgb(0, 238, 255),rgb(234, 0, 255));
    animation: animate 3.5s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* .box::after{
    content: '';
    border-radius: 5rem;
    position: absolute;
    inset: 4px;
    background: rgb(1, 33, 121);
    background-color: var(--body-color);
} */

/*------------------------------  BUTTONS  ------------------------------*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .5rem .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.button1:hover{
    background-color: var(--body-color);
    color: var(--first-color);
    border: 2px solid var(--first-color);
}


/*------------------------------  ABOUT  ------------------------------*/
.about__container{
    row-gap: 2.5rem;
}

.about__img{
    width: 300px;
    border-radius: 1.5rem;
    border: 4px solid #b546ff; 
    justify-self: center;
}

.about__data{
    text-align: center;
}

.about__info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.about__box{
    background-color: var(--container-color);
    border-radius: .75rem .5rem;
    border: 3px solid #b546ff;
}

.about__icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
    margin-top: 1rem;
}

/* .about__title{
    font-size: var(--small-font-size);
}

.about__subtitle{
    font-size: var(--tiny-font-size);
} */

.about__discription{
    margin-bottom: 1.8rem;
    margin-top: 3rem;
}

.Conbutton{
    background-color: #b546ff;
    color: #0a0a0a;
}

/*------------------------------  SKILLS  ------------------------------*/
.skills__container{
    row-gap: 2rem;
    padding-top: 1rem;
}

.skills__content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 3px solid rgb(0 255 0);
}

.skills__title{
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-content: flex-start;
    row-gap: 2rem;  
}

.skills__data{
    display: flex;
    column-gap: .5rem;
}

.bxs-badge-check{
    color: rgb(0, 255, 0);
    font-size: 1.5rem;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills level{
    font-size: var(--tiny-font-size);
}

/*------------------------------  SERVICES  ------------------------------*/
.services__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.services__card{
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2rem ;
    border-radius: 1rem;
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

.services__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services__button:hover .services__icon{
    transform: translateX(.50rem);
}

.services__icon{
    font-size: 1rem;
    transition: .4s;
}

/* Services modal */
.services__modal{
    position: fixed;
    inset:0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 4rem 2rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    z-index: var(--z-modal);
}

.services__modal-content{
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description{
    text-align: center;
}

.services__modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.services__modal-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.services__modal-list{
    display: grid;
    row-gap: .75rem;
}

.services__modal-item{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}

.services__modal-icon{
    font-size: 1.3rem;
    color: rgb(0, 255, 8);
}

.services__modal-info{
    font-size: var(--small-font-size);
}

.services__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.services__modal-close:hover{
    color: rgb(255, 0, 0);
}

/* Active modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}



/*------------------------------  WORK  ------------------------------*/

.work__container{
    padding-top: 1rem 4rem;
}


.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
}

.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    background-color: var(--container-color);
    border: 2px solid var(--first-color);
}


.work__card{
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--first-color);
    width: 80%;
    justify-self: center;
}


.work__img{
    border-radius: 1rem;
    margin-bottom: .75rem;
}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.work__button{
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work__button:hover .work__icon{
    transform: translateX(.25rem);
}

.work__icon{
    font-size: 1rem;
    transition: .4s;
}

/* Active item work */
.active-work{
    background-color: var(--first-color);
    color: var(--body-color);
}


/*------------------------------  TESTIMONIAL  ------------------------------*/
.testimonial__container{
    padding: 1rem auto 1rem;
    margin: 1rem auto 1rem;   
}

.testimonial__card{
    background-color: var(--container-color);
    padding: 1rem 4rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 80%; 
}

.testimonial__img{
    width: 60px;
    border-radius: 3rem;
    /* margin-bottom: 1rem; */
}

.testimonial__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.testimonial__description{
    font-size: var(--small-font-size);
}

/* Swiper class */
.swiper{
    justify-items: center;
}

.swiper-pagination-bullet{
    background-color: var(--text-color-light);
}

.light-theme .swiper-pagination-bullet{
    background-color: #01b3ff;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

.light-theme .swiper-pagination-bullet-active{
    background-color: #0141ff;
}


/*------------------------------ CONTACT ------------------------------*/
.contact__content{
    justify-items: center;
}

.contact__form{
    width: 80%;
    margin: .5rem auto;
}

.contact-container{
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact__info{
    display: grid;
    gap: 1rem;
}

.contact__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}

.contact__card-title{
    font-weight: var(--font-medium);
}

.contact__card-data{
    display: block;
    margin-bottom: .75rem;
}

.contact__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}

.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline:none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.5rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__form-area{
    height: 11rem;
}

.contact__form-area textarea{
    resize: none;
}

/*------------------------------ FOOTER ------------------------------*/
.footer{
    background-color: var(--first-color);
}

.footer__container{
    padding: 2rem 0 6rem;
}

.footer__title, 
.footer__link{
    color: var(--body-color);
}

.footer__title{
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*------------------------------ SCROLL BAR ------------------------------ */
::-webkit-scrollbar{
    width: .8rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
    border: 2px solid var(--first-color);
    
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
    border: 2px solid #000000;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ffaa3a;
}
/*------------------------------ BREAKPOINTS ------------------------------ */
/* For small devices */
@media screen and (max-width: 380px) {
    .home__buttons{
        flex-direction: column;
    }

    .home__handle{
        width: 200px;
        height: 300px;
    }

    .home__img{
        width: 185px;
        height: 285px;
    }

    .skills__box{
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .work__item{
        font-size: var(--smaller-font-size);
    }

    .work__filters{
        column-gap: .5rem;
        margin-bottom: 2rem;
    }
    /* .box{
        position: relative;
        width: 50%;
        height: 100%;
    } */
}

@media screen and (min-width: 381px) {
    .nav__menu{
        padding: 1rem 1.5rem;
    }

    /* .home__buttons{
        flex-direction: column;
    } */

    .home__handle{
        width: 240px;
        height: 400px;

    }

    .home__img{
        width: 220px;
        height: 380px;
    }

    .about__container{
        padding: 0 1rem;
    }

    .about__info{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20% 0;
        row-gap: 2rem;
    }

    .about__title{
       padding-bottom: .5rem;
    }

    .about__box{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .skills__box{
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
    }

    .skills__group{
        display: grid;
        row-gap: 1rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }

    .skills__container{
        padding: .2rem;
    }

    .skills__group{
        justify-content: center;
        overflow: hidden;
    }

    .services__container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .services{
        margin-bottom: 4rem;
    }

    .work__item{
        font-size: var(--smaller-font-size);
    }

    .work__filters{
        column-gap: 1rem;
        margin-bottom: 2rem;
    }


    .section__subtitle{
        padding-bottom: 2rem;
    }

    .section__title{
        padding: 0 2rem 2rem;
    }


    /* .work__container{
        padding: 1rem;
    } */

    .testimonial__card{
        padding: 1rem 1rem;
        box-shadow: none;
    }

    .swiper-wrapper{
        box-shadow: none;
    }

    .testimonial__name{
        margin-bottom: 1rem;
        font-size: var(--h3-font-size);
    }

    .contact__info{
        padding: 0 1rem 3rem;
    }

    .contact__form{
        padding: 0 1rem;
    }
}


/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__menu{
        width: 350px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .home__handle{
        width: 240px;
        height: 400px;

    }

    .home__img{
        width: 220px;
        height: 380px;
    }

    .about__info{
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
    }

    .about__discription{
        padding: 0 4rem;
    }

    .skills__container{
        justify-content: center;
    }



    .services__container{
        grid-template-columns: repeat(3, 160px);
        justify-content: center;
    }

    .services__card{
        justify-self: center;
    }

    .services__modal-content{
        width: 500px;
        padding: 4.5rem 2.5rem 2.5rem;
    }

    .services__modal-description{
        padding: 0 3.5rem;
    }

    .work__filters{
        width: 60%;
        margin: 0 auto;
    }

    .work__item{
        text-align: center;
        font-size: var(--smaller-font-size);
    }

    .work__filters{
        column-gap: 1rem;
        margin-bottom: 2rem;
    }

    .work__container{
        justify-content: center;
        padding: 1rem;
        margin-top: 2rem;
    }

    .contact__content{
        padding: 2rem;
    }

    .contact__card{
        width: 60%;
    }

    .contact__info{
        justify-items: center;
    }
}


/* @media screen and (min-width: 767px) {
    .contact-container{
        grid-template-columns: repeat(2, max-content);
    }
} */

/* For large devices  */
@media screen and (min-width: 992px) {
    .container{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .section{
        padding: 6.5rem 4rem 1rem;
    }


    .section__title{
        margin-bottom: 3.5rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .home__handle{
        width: 240px;
        height: 400px;

    }

    .home__img{
        width: 220px;
        height: 380px;
    }

    .home__scroll-link{
        padding: .4rem;
        font-size: 2rem;
    }

    /* .home__social::after{
        transform: rotate(90deg) translate(16px, 0);
    } */

    .home__scroll-icon{
        font-size: 2rem;
    }

    /* .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    } */

    .about__img{
        width: 450px;
    }

    .about__info{
        column-gap: 2rem;
    }

    /* .about__data{
        text-align: initial;
    } */

    /* .about__info{
        justify-content: initial;
    } */

    .about__box{
        text-align: center;
        padding: .5rem .5rem 1rem; 
    }

    /* .about__discription{
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    } */

    .services__container{
        column-gap: 3rem;
    }

    .work__filters{
        width: 40%;
        margin: 0 auto;
    }

    .work__item{
        text-align: center;
    }

    .work__container{
        gap: 3rem;
    }

    .work__card{
        padding: 2rem;
    }

    .work__img{
        margin-bottom: 1rem;
    }

    .work__title{
        margin-bottom: 1rem;
    }

    .testimonial__container{
        width: 90%; 
    }

    .testimonial__card{
        padding: 1.5rem 2rem;
    }

    .footer__social-link{
        font-size: 1.50rem;
        padding: .4rem;
        border-radius: .4rem;
    }
}

